{% extends 'base.html' %}{% load cart_tag %}{% block content %}{% load static %}

<h1 class="title mx-5">Cart Detail</h1>
{% if request.session.cart|length != 0 %}
<p class="level mx-5">Total Length : {{request.session.cart|length}}</p>
{% endif %}
<div class="container is-fluid">
    {% for key,value in request.session.cart.items %}
      <div class='box'>
      <div class="box-content">
        <div class="level">
          <img
            class="img-responsive"
            src="{{value.image}}"
            width="200"
            height="200"
          />
          <div class="container">
              <h3 class="title mx-8 mt-4">{{value.name}}</h3>
                
                <br />
                <div class="level">
                    <p class="subtitle">{{value.description}}</p>
                </div>
                <div class="level-item">
                </div>
            </div>
            <div class="block-content m-4">
                <p class="subtitle text-muted"> quantity: {{value.quantity}}</p>
                <p class="text-muted level-item">Total {{ value.price|multiply:value.quantity }}</p>
                <br />
                <a class="button is-ghost" href="{% url 'item_increment' value.product_id %}">+</a>
                <a class=" button is-ghost" href="{% url 'item_decrement' value.product_id %}">-</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% if request.session.cart|length != 0 %}
<a class='button is-primary' href="{% url 'payments' %}">Checkout</a>
<a class='button is-danger mx-2' href="{% url 'cart_clear' %}">Clear Cart</a>
{% endif %}

{% endblock %}
