{% extends 'base.html' %}{% load cart_tag %}{% block content %}{% load static %}

{% if request.session.cart|length == 0 %}

<h1 class="text-center px-6">
  Your Cart is Empty :(
    <hr />
  <a
  style=
  "
  text-decoration: underline;
  color: rgba(28, 11, 11, 0.701);
  " 
  class='' href="{% url 'category' %}">
    Continue Shopping
  </a>
</h1>
  
{% endif %}

{% if request.session.cart|length != 0 %}

<h1 class="text-center px-6">
  Your Cart 
</h1>

<p class='total__len'>Total Length :  {{request.session.cart|length}}
</p>

{% endif %} 

{% for key,value in request.session.cart.items %}

<div class='cart__card'>
<div class='cart_img__wrap'>
<img src="{{value.image}}" />
</div>
{% if request.session.cart|length > 0 %}
<div class='cart__info'>
  <p>
    {% if value.quantity == 1 %}
    <a class='txt' href="{% url 'item_clear' value.product_id %}">
      <i class="fas fa-trash-alt"></i>
    </a>
    {% elif value.quantity > 1 %}
    <a href="{% url 'item_decrement' value.product_id %}">-</a>
    {% endif %}
      
         item: {{value.name}}
         |
         Quantity: {{value.quantity}}
     
     
       <a href="{% url 'item_increment' value.product_id %}">+</a>

    </p>
 </div>
{% endif %}

  <p class="total_">
  Total: $ {{ value.price|multiply:value.quantity }}</p>

</div>

{% endfor %}

{% if request.session.cart|length != 0 %}
<div class='checkout__'>

  
    <a id="submitBtn" class='green'>Purchase</a>
    <a id='red' href="{% url 'cart_clear' %}">Clear</a>

</div>
</div>
{% endif %}




{% endblock %}
