

<div class="form-group">
    <div class="form-col">
        <form class="form-floating" action='' method="post" enctype="multipart/form-data">
        <label for="name">First</label>
            <input type="text" class="form-control" name="first_name" placeholder="first name">
        <label for="last">Last</label>
            <input type="text" class="form-control" name="first_name" placeholder="last name">
        <label for="email">email</label>
            <input type="email" class="form-control" name="email" placeholder="email">
        <label for="address">address</label>
            <input type="text" class="form-control" name="address" placeholder="address">
        <label for="country">country</label>
            <input type="text" class="form-control" name="country" placeholder="country">
        <label for="state">state</label>
            <input type="text" class="form-control" name="state" placeholder="state">
        <label for="state">zipcode</label>
            <input type="text" class="form-control" name="zipcode" placeholder="zipcode">
        <label for="complete">complete</label>
            <input type="text" class="form-control" name="complete" placeholder="state">
        </form>
    </div>
</div>