{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
<div class="container">
  <p class="title mx-0">{{ product.name }}</p>
  
  

  <img
  src="{{ product.image }}"
  class="img-responsive"
  height="500"
  width="500"
  />
  <div class="container-body">
    <h1 class="subtitle mx-0"> $ {{ product.price }}</h1>
    <p class="subtitle text-muted "><b>Description</b>: {{ product.description }}</p>
    <div class="is-align-content-space-between">
      <a href="{% url 'cart_add' product.id %}" class="button is-primary"
        >Add To Cart</a
      >
    </div>
  </div>
</div>
</div>

{% endblock %}
