{% extends 'base.html' %} {% block content %} 
{% }

  <div class="container page-wrapper">
  <div class="page-inner">
    <div class="row">
      <div class="el-wrapper">
        <div class="box-up">
          <img class="img" src="{{product.image}}" alt="{{product.name}}"/>
          <div class="img-info">
            <div class="info-inner">
              <span class="p-name">{{product.name}}</span>
            </div>
            <div class="a-size"> Details 
              <span class="size">{{product.description}}
              </span>
            </div>
          </div>
        </div>

        <div class="box-down">
          <div class="h-bg">
            <div class="h-bg-inner"></div>
          </div>

          <a class="cart" href="{% url 'cart_add' product.id %}">
            <span class="price">${{product.price}}</span>
            <span class="add-to-cart">
                <span class='txt'> 
                add to cart
                </span>  
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

