{% extends 'base.html' %} {% block content %} {% for p in products %}

<div class="pp__container">
  <div class="container">
    <div class="level-item">
        <div class="pp__name_wrap">
        </div>
        <figure class="pp__wrap">
      
              <h3 id='pp__name' class="title mx-5">{{ p.name }}</h3>
            
            <!-- <hr class='name__break'/> -->
            <a href="products/{{ p.id }}" class="link">
                <img src="{{ p.image }}" alt="{{ p.name }}" id="pp__image" />
            </a>
        </figure>
    </div>
    <hr class='name__break'/>
  </div>
</div>

{% endfor %} {% endblock %}
