* {
  font-family: 'LEMON MILK';
  font-size: 20px;
  font-weight: 400;
}

body{
background-image: url("/static/styles/liminal.6b3194af3ff1.jpeg");
background-size: cover;
background-position: center; 

height: 100%;


position: relative;
}

#welcome-txt {
  font-size: 5em;
  color: #fff;
}

#welcome-para {
  color: rgb(0, 0, 0);
}

html {
  background-image: url("/static/styles/liminal.6b3194af3ff1.jpeg"); 
  background-size: cover;
  background-position: center;
  rotate: 180deg;
  height: 100%;
}


header {
  /* background-color: #f5f5f5b3;
  border-bottom: 1px solid #e5e5e500; */
  padding: 10px;
  margin-bottom: 20px;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0.00) 4%, rgba(245, 245, 245, 0.1) 46%, rgba(236,236,236,.25) 84%);
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.product-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
  display: flex;
  gap: 0px;
  justify-content: space-evenly;
  margin-top: 80px;
}

.product-info {
  color: #ffffff;
  margin: 5px auto;
}

.image-wrap {
  width: 50%;
  overflow: hidden;
  height: 60%;
  position: relative;
  left: 8rem;
}

.the__img {
  width: 70%;
  height: 70%;
  object-fit: cover;
  object-position: right;
  border-radius: 150px;

}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  
}

#btn__add {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: black;
  color: white;
  border-radius: 20px;
}

.product-info {
  position: relative;
}

#pp__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  padding: 10px;
  border-radius: 150px;
}

.pp__wrap {
  width: 50%;
  overflow: hidden;
  height: 70vh;
}

.pp__container {
  margin-top: 2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


#pp__name {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 5vh;
  margin-bottom: 20px;
  background-color: #1d1d1d;
  color: white;
  border-radius: 100px;
  padding: 10px;
  text-align: center;
  box-shadow: -1px 2px 0px rgb(0, 0, 0);
  /* filter: invert(100%) */
}

.contact__container {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  
}



.contact__form {
  position: absolute;
  top: 15vh;
  right: 50rem;

}

.contact__label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.form__field {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

.form__field input {
  width: 100%;
  border: none;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #f5f5f5;
}

.big__field {
  width: 100%;
  border: none;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #f5f5f5
}

hr {
    display: flex;
    background-color: #000000;
    right: 0;
    justify-content: center;
    filter: invert(0%);
}

#swiper__container {
  margin-top: 30vh;
}


._item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  border-radius: 50%;
  margin-top: -5vh;
  padding: 10px;
}

.__item_container {
  background-color: #ffeef8;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
;
  position: relative;
  z-index: 1;
  margin-bottom: -10vh;
  margin-top: -12vh;
  box-shadow: 0px 1px 2px rgb(255, 255, 255);
  border-radius: 0px 0px 20px 20px;
}

._price {
  display: flex;
  margin: auto 0;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  justify-content: center;
}

.__cart {
  box-shadow: -5px 2px 20px 5px rgba(130, 130, 130, 0.062);
  outline: solid 1px rgba(172, 172, 172, 0.036);
  max-width: 800px;
  justify-content: space-center;
  padding: 2em;
  margin: -10em;
  margin-bottom: 20px;
  position: relative;
  /* left: 8rem; */
  text-shadow: 1px 1px 20px rgb(255, 255, 255);
 
  justify-content: center;
}

.cart__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 150px;
  border-radius: 20px 20px 0px 0px;
}

.cart_img_wrap {
  width: 100%;
  overflow: hidden;
  height: 70vh;
 
}

#__checkout {
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10vh;
  margin-bottom: 20vh;
  outline-offset: 2px;
  border-radius: 30px; 
}

#clear__cart {
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10vh;
  margin-bottom: 20vh;
  outline-offset: 2px;
  border-radius: 30px;
}

tt {
  font-size: 1.2rem;
  font-weight: regular;
  margin-bottom: 0;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

._cart_box {
  display: flex;
  justify-content: center;
}

#_plus {
  margin-top: -5px;
  margin-left: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  outline-offset: 2px;
  justify-content: center;
  border-radius: 30px;
}

#_minus {
  margin-top: -5px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  outline-offset: 2px;
  justify-content: center;
  border-radius: 30px;
}

._line__item {
  background-color: #000000;
  width: 90%;
  margin: -10px 0;
  margin-bottom: 20px;
}

:root {
  --base:              #a5bdd5;
  --bg-blend:          overlay;
  --blur:              0px;
  --fg-blend:          lighten;
  --foreground:        #614d66;
  --opacity:           1;
  --spacing:           0px;
}
.img-wrapper {
  background-color:    var(--base);
  display:             flex;
  flex:                1 1 100%;
  height:              100%;
  overflow:            hidden;
  padding:             var(--spacing);
  position:            relative;
}

.img-wrapper img {
  filter:              grayscale(100%) contrast(1) blur(var(--blur));
  flex:                1 0 100%;
  height:              100%;
  max-width:           100%;
  mix-blend-mode:      var(--bg-blend);
  object-fit:          cover;
  opacity:             var(--opacity);
  position:            relative;
  width:               100%;
}

.img-wrapper::before {
  background-color:    var(--foreground);
  bottom:              0;
  content:             '';
  height:              100%;
  left:                0;
  mix-blend-mode:      var(--fg-blend);
  position:            absolute;
  right:               0;
  top:                 0;
  width:               100%;
  z-index:             1;
}

a#btn__add {
  border: none;
  position: relative;
  top: 20px;
  margin: 20px;
  margin-left: 12px;
}

.product-name {
  text-shadow: 1px 1px 1px #ffffff;
  box-shadow: -1px 1px 0px rgb(0, 0, 0);
  padding: 20px;
}

.product-description {
  text-shadow: -1px 1px 0px #000000;
  color: #2b2b2b;
  margin: 20px;
  font-size: 15px;
  width: 80%;
}

.product-price {
  text-shadow: -1px 1px 0px #ffffff;
  margin: 20px;
}

a.py-2:hover {
  text-shadow: 1px 1px 0px #ffffff;
  color: #ffffff;
}